body {
    background-image: linear-gradient(to right, rgb(176, 250, 116), #93B1A7);
}
#container {
    background-color: white;
    height: 800px;
    width: 500px;
    margin: 100px auto; /* Give the element a margin of 100px on the top and bottom and autopmatically calculate the left and right margin to centert it horizontally */
    border-radius: 20px; /* Round off the edges of the element */
    box-shadow: 10px 10px 20px black; /* Box shadow properties: horizontal offset (required), vertical offset (required), blur (optional), spread (optional), color (optional) */
}
h1 {
    background-color: black;
    color: white;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px 10px;
    margin: 0;
    font-size: 30px;
    font-weight: normal;
    font-family: 'Coiny', cursive;
}

#userInput {
    padding-left: 20px;
    font-family: 'Coiny', cursive;
    font-size: 23px;
}

#billAmt, #serviceQuality, #numPeople{ /* Elements with the ID of billAmt and serviceQuality will both recieve these styles */
    margin-left: 20px;
    font-size: 14px;
    font-family: 'Coiny', cursive;
}

#billAmt:focus, #serviceQuality:focus, #numPeople:focus{
    border: 3px solid black;
    outline: none;
}

button {
    font-size: 20px;
    display: block;
    margin: 30px auto;
    font-family: 'Coiny', cursive;
    font-weight: bold;
    width: 200px;
    height: 50px;
    background-image: linear-gradient(to right, rgb(176, 250, 116), #93B1A7);
}

button:hover {
    background-color: white;
}

button:focus {
    outline: none;
}

#tipAmount {
    text-align: center;
    font-size: 30pt;
    font-family: 'Coiny', cursive;
}
